{% extends "base.html" %}
{% block title %}
    关于我|bianbian的小站 
{% endblock %}
{% block path %}
    <a href = "{% url 'home'%}">当前位置&nbsp;:&nbsp;首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
	

	 <div class="archive">
             <div id="archives">
        <h3>
         关于本站
        </h3>
       
         <blockquote>
               &nbsp;&nbsp;&nbsp;linux下Python web框架Django开发简易版,部署在VPS
               </br>
               </br>
               
               若无特殊说明，本站所有文章均为原创文章，并遵循 <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0协议</a> 发布

        </blockquote>
        </br>
       
        <h3>
        关于我
        </h3>
    

        <blockquote>
               &nbsp;&nbsp;&nbsp;程序宅一枚，动漫迷，SNH48卡推。
               </br></br>喜欢读书，尤其野史杂闻，侦探推理，大爱东野圭吾！
        </blockquote>
        </br>
        <ul>
              
                
               
        </ul>
        
        <h3>联系我
        </h3>
        <ul>
        <li>博客:&nbsp;&nbsp;&nbsp;<a href="https://www.bianbian.com">bianbian的小站</li></a>
        <li>邮箱:&nbsp;&nbsp;&nbsp;disney_dream@163.com </li>
        </ul>
<!-- /.blog-post -->
</div>
</div>


          {% include "blog/_comments.html" %}

	
{% endblock %}

{% block side %}
	 {% include "blog/_side.html" %}
{% endblock %}


